@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

body {
  overflow: auto; /* Hide scrollbars */
}



.out{
    float: right;
    margin-right: 2%;
    font-size: 1.5rem;
    width: 10%;
    text-align: center;

}

.out:hover{
    background-color: #ef5350 ;
}

.out:active{
    background-color: #ef9a9a;
}

.background{

    background-image: url("https://gamepress.gg/lostword/sites/lostword/files/story_cards/0096_%E2%98%863_Suzunaan.png");
    background-size: cover;
    height: auto;
    padding-bottom: 0.5%;
   
}

.myTitle{
   text-align: center;
}

.myTable{
  border-radius: 5px;
  margin: auto;
  margin-top: 1%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
  border: solid rgba(239, 83, 80,0.4) 5px;
  height: 90vh;
  transition: 0.5s;
  
}

.myTable:hover{
    border: solid rgba(239, 83, 80,1) 5px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 100%;
}



.myTable a{
    color: black;
}

.myDashboard{
  margin-top: 1%;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: solid rgba(239, 83, 80,0.4) 5px;
  height: 90vh;
  color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.myDashboard:hover{

    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    border: solid rgba(239, 83, 80,1) 5px;
}

.myColumn{
   width: 100%;
  background-color: #fff;
  line-height: 2rem;
  padding: 10%;
  margin: auto;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 6%;
  text-align: center;
  opacity: 10%;
  font-size: 30px;
  font-family: 'Inclusive Sans', sans-serif;
  overflow: auto;

}

.myTable li:first-child{
      margin-top: 6%;
}

/* Ripple effect Code */
.myColumn {
  background-position: center;
  transition: background 0.8s;
  transition: 0.5s;
}
.myColumn:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
  opacity: 100%;
}
.myColumn:active {
  background-color: lightgray;
  background-size: 100%;
  transition: background 0s;
}
/* End Code */


.myColumn:first-child{

     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.myColumn:last-child{

    border-bottom-left-radius: 5px;
    border-bottom-right-radius:  5px;
}


.material-icons{
    display: block;
    font-size: 50px;
    padding-top: 5%;
}


